/* Paper Element */
/* Button */ 

paper-button.classical {
    background: rgb(142, 0, 0);
    color: white;
}

paper-button.default {
    background: #F7F7F7;
}

paper-button.primary {
    background: #0085FF;
    color: white;
}

paper-button.warning {
    background: #F5E346;
}

paper-button.success {
    background: #93D06D;
}

paper-button.danger {
    background: #E5533C;
}

paper-button.info {
    background: #004577;
}
